.slider > * {
  width: 100%;
}

[data-scope="slider"][data-part="root"] {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-scope="slider"][data-part="control"] {
  --slider-thumb-size: 0.65rem;
  --slider-track-height: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

[data-scope="slider"][data-part="control"][data-orientation="horizontal"] {
  height: var(--slider-thumb-size);
}

[data-scope="slider"][data-part="thumb"] {
  all: unset;
  width: var(--slider-thumb-size);
  height: var(--slider-thumb-size);
  border-radius: 50%;
  background: theme(--color-red-400);
}

[data-scope="slider"] .control-area {
  margin-top: 12px;
  display: flex;
}

.slider [data-orientation="horizontal"] .control-area {
  flex-direction: column;
  width: 100%;
}

[data-scope="slider"][data-part="track"] {
  background: theme(--color-zinc-200);
  border-radius: 9999px;
  box-sizing: border-box;
  position: relative; /* 此定位服务于伪元素 */

  /* 伪元素用于增加上下范围，扩展事件区域 */
  &::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -1rem;
    bottom: -1rem;
    width: 100%;
  }

  &[data-orientation="horizontal"] {
    height: var(--slider-track-height);
    width: 100%;
  }
}

[data-scope="slider"][data-part="range"] {
  background: theme(--color-red-400);
  border-radius: inherit;

  &[data-disabled] {
    background: rgba(0, 0, 0, 0.4);
  }

  &[data-orientation="horizontal"] {
    height: 100%;
  }
}
