@import "tailwindcss";

@layer base {
  :root {
    user-select: none;
    -webkit-user-select: none;
  }

  input:focus {
    outline-offset: 0;
  }

  /* 移除默认 outline，避免 dialog 时显示 */
  a:focus, button:focus {
    outline: none;
  }
}

@theme {
  --color-digit-bg: oklch(19.087% 0.00873 264.37);
  --color-digit-fg: oklch(73.824% 0.01576 285.937);
  --color-focus: #e15252;
  --color-short-break: #4a95e0;
  --color-long-break: #65c26a;
  --shadow-window: 0 8px 15px rgba(0, 0, 0, 0.4), 0 2px 5px rgba(0, 0, 0, 0.2);
}
