@import "tailwindcss";

@layer base {
  :root {
    user-select: none;
    -webkit-user-select: none;
  }

  input:focus {
    outline-offset: 0;
  }
}

@theme {
  --color-digit-bg: oklch(27.431% 0.02744 257.55);
  --color-digit-fg: oklch(73.824% 0.01576 285.937);
}
